<div class="col-xs-12 center-block">
  <div class="row">
    <div class="col-xs-3">
      <h3>Convo Pending</h3>
    </div>
  </div>
  <div class="row">
    <table class="table table-striped">
      <thead>
        <th>Actions</th>
        <th>Photo</th>
        <th>Name</th>
        <th>Email</th>
        <th>Location</th>
        <th>Tag</th>
        <th>Age</th>
        <th>Height</th>
        <th>Lang</th>
        <th>Edu</th>
        <th>Occupation</th>
      </thead>
      <% @profiles.each do |pr| %>
        <tr>
          <td></td>
          <td><%= image_tag pr.main_photo.url, class: 'img-rounded', height: 50, width: 50 %></td>
          <td><%= pr.name %></td>
          <td><%= pr.email %></td>
          <td><%= pr.city %><br><%= pr.country %></td>
          <td>
            <% pr.tags.each do |t| %>
              <span class="label label-info"><%= t.name %></span>
            <% end %>
          </td>
          <td><%= pr.age %></td>
          <td><%= pr.height_in_ft %></td> 
          <td><%= pr.language %></td>
          <td><%= pr.education %></td>
          <td><%= pr.occupation %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

