<div class="col-xs-12 center-block">
  <div class="row">
    <div class="col-xs-3">
      <h3>Conversation Received</h3>
    </div>
  </div>

  <div class="row">
    <table class="table table-striped">
      <thead>
        <th>Actions</th>
        <th>Photo</th>
        <th>Name</th>
        <th>Email</th>
        <th>Location</th>
        <th>Tag</th>
        <th>Age</th>
        <th>Height</th>
        <th>Lang</th>
        <th>Edu</th>
        <th>Occupation</th>
      </thead>
      {{#each}}
        <tr> 
          <td>
            {{#link-to 'profile' id tagName='button' class='btn btn-success btn-xs'}}
              <span class='glyphicon glyphicon-envelope'></span>
            {{/link-to}}
          </td>
          <td><img {{bind-attr src='profile_photo'}} class='img-thumbnail' style='width: 100px;' /></td>
          <td>{{ name }}</td>
          <td>{{ email }}</td>
          <td>{{ city }}<br>{{ country }}</td>
          <td>
            {{#each tag in tags}}
              <span class="label label-info">{{ tag.name }}</span>
            {{/each}}
          </td>
          <td>{{ age }}</td>
          <td>{{ height_in_ft }}</td> 
          <td>{{ language }}</td>
          <td>{{ education }}</td>
          <td>{{  occupation }}</td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>
